:root {
    --main-weight: 600;
    --main-background: #F5F5F5;
}

body {
    background-color: var(--main-background);
    font-family: 'SF Pro Display',
        sans-serif;
    font-weight: var(--main-weight);
    font-size: 22px;
    /* line-height: 1.6px; */
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1240px;
    padding-left: 15px;
    padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
}

.site-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #3C3C3C;
    font-family: 'SF Pro Display',
        sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    
}

.logo>span {
    color: #0071E3;
}

.logo {
    color: #000000;

}

.btn-request {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 141px;
    height: 44px;
    background-color: #0071E3;
    border-radius: 8.096px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: var(--main-weight);
    font-size: 12.144px;
    line-height: 1.6;
    border: #0071E3;
   
}

.btn-request:focus {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}

.btn-request:hover {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}




.main-heading {
    font-family: 'SF Pro Display',
        sans-serif;
        color: #3C3C3C;
        font-weight: 900;
        font-size: 54px;
        line-height: 1.2;
        width: 711px;
        height: 130px;
}

.subtitle-hero {
    font-family: 'SF Pro Display',
        sans-serif;
    color: #5E5955;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;

}

.statistics-heading {
    color: #0068E3;
    font-family: 'SF Pro Display',
        sans-serif;
        font-weight: 900;
        font-size: 48.5088px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 0;
}

.statistics.list {
    display: flex;
    font-family: 'SF Pro Display',
     sans-serif; 
     font-weight: 500;
     font-size: 21px;
     line-height: 1.4;
}

.main-btn-request {
    width: 263px;
    height: 83px;
    background-color: #0071E3;
    color: #FFFFFF;
    border-radius: 15.0852px;
    border: #0071E3;
}

.main-btn-request:focus {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}

.main-btn-request:hover {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}

.section-tittle {
    color: #3C3C3C;
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 800;
            font-size: 54px;
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 20px;

}

.subtitle-presentation {
    color: #000000;
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 1.4;
            margin-right: auto;

}

.presentation-paragraph {
    color: #6D7174;
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 600;
                font-size: 18px;
                line-height: 1.8;

}

.subtitle-second-section {
    color: #3C3C3C;
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 1.4;

}


.btn-section-title {
    color: #3C3C3C;
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 800;
            font-size: 37px;
            line-height: 1.2;

}

.section-btn {
    color: #0068E3;
    border: 1px solid #0068E3;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 20px;
        gap: 10px;
}

.section-btn:focus {
    color: #E3E3E3;
        background-color: #0068E3;
        cursor: pointer;

}

.section-btn:hover {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;

}

.overlay {
    background: linear-gradient(90deg, #0068E3 0%, rgba(0, 104, 227, 0.515625) 50.51%, #0068E3 100%);
    width: 1441px;
    height: 472px;
}

.manager-ask-title {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 900;
            font-size: 54px;
            line-height: 1.2;
            text-align: center;
            color: #E3E3E3;
}

.manager-ask-btn {
    width: 262.6px;
        height: 82.26px;
        background-color: #FBFBFB;
        border-radius: 15.0852px;
        color: #0068E3;
        cursor: pointer;
        font-family: 'SF Pro Display',
                sans-serif;
                font-weight: 600;
                font-size: 22px;
                line-height: 1.6;
                border: none;
}


.manager-ask {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 1.4;
            text-align: center;
            color: #E3E3E3;

}

.card-item {
    background-color: #0068E3;
    width: 393px;
        height: 271px;
        border-radius: 10px;
        text-align: left;

}

.special-offer-title {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 800;
            font-size: 54px;
            line-height: 1.2;
            text-align: center;
            color: #3C3C3C;

}

.special-offer-subtitle {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 1.4;
            text-align: center;
            color: #000000;
}

.special-offer-text {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 600;
            font-size: 26px;
            line-height: 1.4;
            text-align: center;
            color: #000000;

}


.timer {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 500;
            font-size: 180px;
            line-height: 100%;
            text-align: center;
                letter-spacing: 0.02em;
                color: #0068E3;

}

.special-offer-btn {
    width: 262.6px;
    height: 82.26px;
    background-color: #0071E3;;
    border-radius: 15.0852px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'SF Pro Display',
        sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.6;
    border: none;
}

.special-offer-btn:focus {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}

.special-offer-btn:hover {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}

.hero-left-side {
    flex-direction: column;
}

.hero {
    display: flex;
    padding-bottom: 65px;
    padding-top: 46px;
}

.statistics {
   display: flex;
   flex-wrap: wrap;
   width: 480px;
height: 306.44px;
}

.construction-part {
    margin-right: 90px;
}

.recommend-part {
    margin-right: 146px;
}


.about-us-section {
    padding-top: 100px;
    padding-bottom: 215px;
}

.first-section-bloc {
    display: flex;
    flex-wrap: wrap;
}

.first-section-text {
    flex-direction: column;
}

.about-us-item {
    margin-right: auto;
}

.second-section-bloc {
    display: flex;
    gap: 31px;
    margin-top: 99px;
}

.third-section-bloc {
    display: flex;
    gap: 36px;
    margin-top: 175px;
}