:root {
    --main-weight: 600;
    --main-background: #F5F5F5;
}

body {
    background-color: var(--main-background);
    font-family: 'SF Pro Display',
        sans-serif;
    font-weight: var(--main-weight);
    font-size: 22px;
    /* line-height: 1.6px; */
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
/* Прибираємо колір відвіданих посилань за замовчуванням */
a:visited {
    color: currentColor;
}

.container.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
}

.site-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #3C3C3C;
    font-family: 'SF Pro Display',
        sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    
}

.site-nav-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover {
    color: #0068E3;
}

.btn-request {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 141px;
    height: 44px;
    background-color: #0071E3;
    border-radius: 8.096px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: var(--main-weight);
    font-size: 12.144px;
    line-height: 1.6;
    border: #0071E3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-request:focus {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}

.btn-request:hover {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}




.main-heading {
    font-family: 'SF Pro Display',
        sans-serif;
        color: #3C3C3C;
        font-weight: 900;
        font-size: 54px;
        line-height: 1.2;
        width: 711px;
        height: 130px;
        margin-top: 0;
        margin-bottom: 18px;
}

.subtitle-hero {
    font-family: 'SF Pro Display',
        sans-serif;
    color: #5E5955;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    width: 567px;
    margin: 0;

}

.statistics-heading {
    color: #0068E3;
    font-family: 'SF Pro Display',
        sans-serif;
        font-weight: 900;
        font-size: 48.5088px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 0;
}

.statistics.list {
    display: flex;
    font-family: 'SF Pro Display',
     sans-serif; 
     font-weight: 500;
     font-size: 21px;
     line-height: 1.4;
}

.main-btn-request {
    width: 263px;
    height: 83px;
    background-color: #0071E3;
    color: #FFFFFF;
    border-radius: 15.0852px;
    border: #0071E3;
    margin-top: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn-request:focus {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}

.main-btn-request:hover {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}

.section-tittle {
    color: #3C3C3C;
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 800;
            font-size: 54px;
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 20px;

}

.subtitle-presentation {
    color: #000000;
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 1.4;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 40px;

}

.presentation-paragraph {
    color: #6D7174;
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: var(--main-weight);
                font-size: 18px;
                line-height: 1.8;
                margin: 0;

}

.subtitle-second-section {
    color: #3C3C3C;
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 1.4;
            margin: 0;
            width: 825px;

}

.subtitle-second-section::after {
    content: "";
    display: block;
    width: 1440px;
    height: 1px;
    background-color:#BABABA;
        margin-top: 86px;
        margin-bottom: 0;
}


.btn-section-title {
    color: #3C3C3C;
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 800;
            font-size: 37px;
            line-height: 1.2;
            text-transform: uppercase;
           
}

.section-btn {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: var(--main-weight);
            font-size: 16.5px;
            line-height: 1.4;
    color: #0068E3;
    border: 1px solid #0068E3;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
}

.section-btn:focus {
    color: #E3E3E3;
        background-color: #0068E3;
        cursor: pointer;

}

.section-btn:hover {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;

}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, #0068E3 0%, rgba(0, 104, 227, 0.515625) 50.51%, #0068E3 100%);
    max-width: 1441px;
    height: 472px;
    
}

.manager-ask-title {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 900;
            font-size: 54px;
            line-height: 1.2;
            text-align: center;
            color: #E3E3E3;
}

.manager-ask-btn {
    width: 262.6px;
        height: 82.26px;
        background-color: #FBFBFB;
        border-radius: 15.0852px;
        color: #0068E3;
        cursor: pointer;
        font-family: 'SF Pro Display',
                sans-serif;
                font-weight: 600;
                font-size: 22px;
                line-height: 1.6;
                border: none;
                margin-left: auto;
                margin-right: auto;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
             
}

.manager-ask-btn:hover {
    background-color: #E3E3E3;
    color: #0068E3;
}


.manager-ask {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 1.4;
            text-align: center;
            color: #E3E3E3;

}

.card-item {
    background-color: #0068E3;
    width: 393px;
        height: 271px;
        border-radius: 10px;
        padding-left: 27px;
        padding-top: 20px;
       

}

.special-offer-title {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 800;
            font-size: 54px;
            line-height: 1.2;
            text-align: center;
            color: #3C3C3C;

}

.special-offer-subtitle {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 1.4;
            text-align: center;
            color: #000000;
}

.special-offer-text {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: var(--main-weight);
            font-size: 26px;
            line-height: 1.4;
            text-align: center;
            color: #000000;
            margin-bottom: 10px;
            margin-top: 60px;

}


.timer {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 500;
            font-size: 180px;
            line-height: 100%;
            text-align: center;
                letter-spacing: 0.02em;
                color: #0068E3;

}

.special-offer-btn {
    width: 262.6px;
    height: 82.26px;
    background-color: #0071E3;;
    border-radius: 15.0852px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'SF Pro Display',
        sans-serif;
    font-weight: var(--main-weight);
    font-size: 22px;
    line-height: 1.6;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.special-offer-btn:focus {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}

.special-offer-btn:hover {
    color: #E3E3E3;
    background-color: #0068E3;
    cursor: pointer;
}

.hero-left-side {
    flex-direction: column;
}

.hero {
    display: flex;
    padding-bottom: 65px;
    padding-top: 46px;
    justify-content: space-between;
}

.statistics {
   display: flex;
   flex-wrap: wrap;
   width: 480px;
height: 306.44px;
}

.construction-part {
    margin-right: 90px;
}

.recommend-part {
    margin-right: 146px;
}


.about-us-section {
    padding-top: 100px;
    padding-bottom: 215px;
}

.first-section-bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-section-text {
    flex-direction: column;
}

.second-section-bloc {
    display: flex;
    gap: 31px;
    margin-top: 99px;
}

.third-section-bloc {
    display: flex;
    gap: 36px;
    margin-top: 175px;
}

.btn-section {
    padding-bottom: 90px;
}

.btn-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.btn-menu-first {
    display: flex;
        flex-wrap: wrap;
        gap: 25px;
        width: 956px;

}

.btn-menu-first::after {
    content: "";
    display: block;
    width: 1500px;
    height: 1px;
    background-color: #BABABA;
    margin-top: 50px;
    margin-bottom: 0;

}

.btn-menu-fifth {
    display: flex;
        flex-wrap: wrap;
        gap: 25px;
        width: 936px;
}

.btn-menu-fifth::after {
    content: "";
    display: block;
    width: 1500px;
    height: 1px;
    background-color: #BABABA;
    margin-top: 50px;
    margin-bottom: 0;

}

.btn-menu-seventh {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 1150px;
}

.btn-menu-seventh::after {
    content: "";
    display: block;
    width: 1500px;
    height: 1px;
    background-color: #BABABA;
    margin-top: 50px;
    margin-bottom: 0;

}

.btn-menu::after {
    content: "";
    display: block;
    width: 1500px;
    height: 1px;
    background-color: #BABABA;
    margin-top: 50px;
    margin-bottom: 0;

}

.benefits {
    font-family: 'SF Pro Display',
            sans-serif;
        font-weight: 800;
        font-size: 54px;
        line-height: 1.2;
        text-align: left;
        color: #3C3C3C;
        width: 686px;

}

.benefits-items {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
}

.card-item-text {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 400;
        font-size: 18px;
            line-height: 1.4;
        color: #E3E3E3;
        margin-top: 10px;
        margin-bottom: 0;

}

.card-item-title {
    font-family: 'SF Pro Display',
            sans-serif;
        font-weight: 700;
    font-size: 22px;
        line-height: 1.2;
        color: #E3E3E3;
        margin-top: 22px;
        margin-bottom: 0;

}

.section-timer {
    text-align: center;
}

.closed-menu {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 800;
            font-size: 37px;
            line-height: 1.2;
            color: #3C3C3C;
            width: 147px;
            margin-top: 40px;
            margin-bottom: 0;

}

.closed-menu::after {
    content: "";
        display: block;
        width: 1440px;
        height: 1px;
        background-color: #BABABA;
        margin-top: 31px;
        margin-bottom: 0;

}

.fifth-section-item {
    margin-top: 89px;
}

.discuss-project-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    left: 1002px;
        top: 2554px;
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 600;
            font-size: 22px;
            line-height: 1.2;
            text-align: center;
            color: #FFFFFF;
    background-color: #0068E3;
    width: 298px;
    height: 298px;
    border-radius: 50%;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.discuss-project-btn:hover {
    background-color: #0068E3;
    color: #E3E3E3;
    cursor: pointer;
}

.discuss-btn-text {
    width: 110px;
    margin-bottom: 27px;
    margin-top: 0;
}

.close-x {
    display: inline-block;
        stroke: currentColor;
        fill: #3C3C3C;
        width: 81px;
        height: 81px;
}

.close-x-button {
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    border: none;
    background-color: var(--main-background);
}

.plus-button {
    display: flex;
    height: 95px;
    margin-top: 43px;
    margin-left: auto;
    border: none;
    background-color: var(--main-background);
}

.plus {
    display: inline-block;
        stroke: currentColor;
        fill: #3C3C3C;
        width: 81px;
        height: 81px;
}

.test {
    display: flex;
}

.arrow {
    width: 48px;
    height: 22px;
}

.down-overlay {
    background: linear-gradient(180deg, #FBFBFB 6.92%, rgba(251, 251, 251, 0.7) 53.12%, #FBFBFB 98.96%), 
    url(../images/overlay.jpg);
    max-width: 1440px;
    max-height: 830px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
        margin-right: auto;

}

.footer-container {
    background-color: var(--main-background);
}

.form-title {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 900;
            font-size: 54px;
            line-height: 1.2;
            color: #3C3C3C;
}

.form-subtitle {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 1.5;
            color: #5E5955;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(31, 39, 60, 0.7);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 592px;
    min-width: 712px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #AAA9A9;
    backdrop-filter: blur(8.5px);
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 51px;
}

.form-title {
    font-family: 'SF Pro Display',
            sans-serif;
            font-weight: 900;
            font-size: 54px;
            line-height: 1.2;
            color: #3C3C3C;
            width: 339px;
            margin-top: 0;
            margin-bottom: 0;
    
}

input {
    width: 353px;
    height: 59px;
    background-color: #DADADA;
    border: 1px solid #A6A6A6;
        border-radius: 10px;
}